<div id="page">
	
  <h1 class="emphnext">{{ page.title }}</h1>
  <ul class="tag_box inline">
  {% assign tags_list = page.tags %}
  <!-- {% include JB/tags_list %} -->
  </ul>

<div class="social-media-top">
<a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="small"
  data-via="sfotiadis_">
Tweet this.
</a>
<a class="twitter-follow-button"
  href="https://twitter.com/sfotiadis_"
  data-show-count="false"
  data-lang="en"
  data-size="small"
  >Follow me on twitter.
</a>
</div>
<br>

  {{ content }}

  <address class="signature">
    <a class="author" href="{{ HOME_PATH }}">{{ site.author.name }}</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>

<div class="social-media">
<a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="large"
  data-via="sfotiadis_">
Tweet this.
</a>
<a class="twitter-follow-button"
  href="https://twitter.com/sfotiadis_"
  data-show-count="false"
  data-lang="en"
  data-size="large"
  >Follow me on twitter.
</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<br>

  <div class="prev-next">
  {% if page.next %}
    <a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">Next Post &rarr;</a>
  {% endif %}
  {% if page.previous %}
    <a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; Earlier Post</a>
  {% endif %}
  </div>
  
</div><!-- End Page -->

{% include JB/comments %}
